*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: "Roboto", sans-serif;
}


section{
    padding: 10rem 0;
    background-color: #fff;
}

.heading{
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 5rem;
    text-align:  center;
    color: black;
    position: relative;
}

.heading::after{
    content: "";
    width: 10rem;
    height: .8rem;
    background-color: #45e19f;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius:2rem;
}

.card-wrapper{
    display:flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.image{
    width: 32rem;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: .5rem .5rem 3rem rgba(0, 0, 0,2);
}

.image .card-img{
    width:100%;
    height:26rem;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0,100% 0,100% 78,0 100%);
    clip-path: polygon(0 0,100% 0,100% 78,0 100%);
}
.image .machine-img{
    width:15rem;
    height:15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -11rem;
    z-index: 999;
    border:1rem solid #ebeef8;
}

.image .h1{
    font-size: 2.5rem;
    color: #333;
    margin:1.5rem;
    font-weight: 1.5rem 0;
}

.about{
    font-size:  1.5rem;
    margin: 1.5rem 0;
    font-style: italic;
    text-align: center;
    color: #333;
}

.btn-paypal{
    margin-left: 85em;
    margin-top: 2em;
}

.btn{
    padding: 1rem 2.5rem;
    background-color: #445ae3;
    border-radius: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: #eee;
    font-size: 1.4rem;
    text-decoration: none;
}
.btn:hover{
    transform: translateY(-2px);
    box-shadow: none;
}

.btn:active{
    transform: translateY(0);
    box-shadow: none;
}

@media screen and (min-width: 700px){
    .card-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .image{
        margin: 2rem;
    }
    @keyframes fadeIn {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
        .image:nth-child(1){
            animation: fadeIn .5s .25s backwards;
        }
        .image:nth-child(2){
            animation: fadeIn .5s 0.5s backwards;
        }
        .image:nth-child(3){
            animation: fadeIn .5s 0.75s backwards;
        }
        .image:nth-child(4){
            animation: fadeIn .5s 1s backwards;
        }
}

.cart-item{
    width: 45%;
}
.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}
.cart-header{
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}
.cart-column{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}
.cart-row{
    display: flex;
}

.btn-remove{
    margin-left: 1em;
}
.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}
.cart-sub-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}
.cart-tax {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}
.cart-tax-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}
.cart-sub-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-tax-price {
    color: #333;
    font-size: 1.5em;
}
.cart-total-price {
    color: #333;
    font-size: 1.5em;
}
.cart-sub-total-price {
    color: #333;
    font-size: 1.5em;
}

.btn-remove-all{
    margin-left: 65em;
    margin-top: 2em;
}

.tooltip{
    text-align: center
}